{% extends 'clientes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid mt-5">
    <a href="{% url 'cadastrar-agendamento' %}" class="btn btn-success"><i class="fas fa-plus"></i> Agendar horário</a>
  
    <table class="table table-striped mt-4">

        <tr>

            <th>Cliente</th>
            <th>Data</th>
            <th>Serviço(s)</th>
            <th>Preço</th>
            <th>Valor pago</th>
            <th>Situação</th>
            <th>Ações</th>


        </tr>

        {% for agendamento in object_list %}

        <tr>
            <td>{{agendamento.cliente}}</td>
            <td>{{agendamento.dataAgendamento}}</td>
            <td>{{agendamento.servico}}</td>
            <td>{{agendamento.preco}}</td>
            <td>{{agendamento.valorPago}}</td>
            <td>{{agendamento.status}}</td>



            <td>

                <a href="{% url 'atualizar-agendamento' agendamento.id %}" class="btn btn-warning">Alterar <i class="far fa-edit"></i></a>
                <!-- Botão abaixo será utilizado para marcar como concluido o agendamento -->
                <a href="#" class="btn btn-success">Concluído <i class="fas fa-check"></i></a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="3">Nenhum agendamento registrado!</td>

        </tr>
        {% endfor %}

    </table>

</div>
{% endblock %}