{% extends 'clientes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid mt-5">
    <a href="{% url 'cadastrar-pessoa' %}" class="btn btn-success"><i class="fas fa-plus"></i> Cadastrar pessoa</a>
    <br>


    <table class="table table-striped mt-3">

        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Data de nascimento</th>
            <th>E-mail</th>
            <th>Cidade</th>
            <th>Sexo</th>
            <th>Estado</th>
            <th>Ações</th>
        </tr>

        {% for pessoa in object_list %}

        <tr>
            <td>{{pessoa.id}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.telefone}}</td>
            <td>{{pessoa.nascimento}}</td>
            <td>{{pessoa.email}}</td>
            <td>{{pessoa.cidade}}</td>
            <td>{{pessoa.sexo}}</td>
            <td>{{pessoa.estado}}</td>

            <td>
                <a href="{% url 'atualizar-pessoa' pessoa.id %}" class="btn btn-warning">Alterar <i
                        class="far fa-edit"></i></a>
                <a href="{% url 'deletar-pessoa' pessoa.id %}" class="btn btn-danger">Excluir <i
                        class="far fa-trash-alt"></i></a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="3">Nenhuma pessoa cadastrada!</td>
            <br />

            <br />
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}