{% extends 'clientes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid mt-5">
    <a href="{% url 'cadastrar-servico' %}" class="btn btn-success"><i class="fas fa-plus"></i> Novo serviço</a>
    <br />
    <table class="table table-striped">

        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Tempo de execução</th>
            <th>Descrição</th>


            <th>Ações</th>
        </tr>

        {% for servico in object_list %}

        <tr>
            <td>{{servico.id}}</td>
            <td>{{servico.nome}}</td>
            <td>{{servico.preco}}</td>
            <td>{{servico.minutos}} minutos</td>
            <td>{{servico.descricao}}</td>


            <td>
                <a href="{% url 'atualizar-servico' servico.id %}" class="btn btn-warning">Alterar <i class="far fa-edit"></i></a>
                <a href="{% url 'deletar-servico' servico.id %}" class="btn btn-danger">Excluir <i class="far fa-trash-alt"></i></a>
        </tr>
        </td>

        {% empty %}
        <tr>
            <td colspan="3">Nenhum serviço cadastrada!</td>
            <br />

            <br />
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}