{% load static %}
<!DOCTYPE html>

<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Liu Style</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/one-page-wonder.min.css' %}" rel="stylesheet">

  <style>
    .corDrop {
      color: white !important;
    }
  </style>
  {% block style %}
  {% endblock %}

</head>

<body>
  {% block header %}

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'inicio' %}">LIU STYLE</a>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link corDrop" href="{% url 'curriculo' %}">CURRÍCULO</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link corDrop" href="{% url 'listar-agendamento' %}"><i class="fas fa-calendar-week"></i>
              AGENDAMENTOS</a>

          </li>

          <!-- CADASTRO DROPDOWN -->
          <li>
            <div class="dropdown show corDrop">
              <button class="btn dropdown-toggle corDrop" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus"></i> CADASTROS
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                <a class="dropdown-item" href="{% url 'cadastrar-pessoa' %}"><i class="fas fa-users"></i> Clientes</a>
                <a class="dropdown-item" href="{% url 'cadastrar-servico' %}"><i class="far fa-hand-scissors"></i>
                  Serviços</a>



              </div>
            </div>
          </li>

          <!-- LISTAR DROPDOWN -->
          <li>
            <div class="dropdown show corDrop nav-item">
              <button style class="btn dropdown-toggle corDrop" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-list"></i> LISTAS
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                <a class="dropdown-item" href="{% url 'listar-pessoa' %}"><i class="fas fa-users"></i> Clientes</a>
                <a class="dropdown-item" href="{% url 'listar-servico' %}"><i class="far fa-hand-scissors"></i>
                  Serviços</a>

              </div>
            </div>
          </li>

          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link corDrop" href="{% url 'login' %}">LOGIN</a>
          </li>


          {% else %}
          <li>
            <div class="dropdown show">
              <a style class="btn dropdown-toggle corDrop" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user"></i> {{ request.user.first_name }}
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'registroFuncionario' %}">
                  <i class="fas fa-user-plus"></i> Novo Funcionário</a>
                <a class="dropdown-item" href="{% url 'alterar-senha' %}"><i class="fas fa-lock"></i> ALTERAR SENHA</a>
                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> SAIR</a>
              </div>
            </div>
          </li>
          {% endif %}


        </ul>
      </div>
    </div>
  </nav>


  <br />
  <br />
  <br />


  {% endblock %}


  {% block content %}

  <!-- AQUI VAI O QUE VC QUISER PQ O SITE É SEU -->
  {% endblock %}

  {% block footer %}

  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Gustavo Liu 2019</p>
    </div>
    <!-- /.container -->
  </footer>
  {% endblock %}

  {% block scripts %}

  {% endblock %}
  <!-- Import JQuery Mask -->
  <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.mask.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.slim.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/mascara.js' %}"></script>
</body>

</html>