{% load static %}
<!DOCTYPE html>

<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Liu Style</title>

  <!-- icones -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <style media="screen">
    .botao-redondo {
      background-color: #A900FF;
      border-radius: 150px;
      width: 40px;
      height: 40px;
      border-color: #A900FF;
      color: white;
    }

    .cor-links {
      color: black !important;
    }
  </style>
</head>

<!-- NAO MEXER PRA CIMA -->



<div class="container mt-5">

  <div class="row" style="background-color: #DDDDDD;">
    <div class="col-2"> </div>
    <div class="col-4 text-center">
      <br>
      <div class="text-left">
        <h1>LUIZ GUSTAVO</h1>
        <h1><strong>LIU DOS SANTOS</strong></h1>
      </div>
    </div>
    <div class="col text-right text-dark cor-links">
      <label>Rua Rocha Pombo, 377, Apartamento 10. <i class="fas fa-home"></i></label> <br>
      <label>(44) 99113-8385 <i class="fas fa-phone"></i></label> </a> <br>
      <label>E-mail <i class="fas fa-envelope"></i></label> </a> <br>
      <label>Perfil do <a href="https://www.linkedin.com/in/luizgustavoliu/" target="_blank"> LinkedIn</a> <i
          class="fab fa-linkedin-in"></i></label> <br>
      <label><a href="https://fb.com/guxtavoliu" target="_blank">Facebook</a> / <a href="https://github.com/guxtavoliu"
          target="_blank"> GitHub </a> / <a href="#"> Portifólio</a> <i class="fas fa-globe"></i></label> <br>

    </div>
    <div class="col-2"> </div>
  </div>

  <br>
  <div class="row">

    <div class="col-2 text-right"><button class="botao-redondo"><i class="fas fa-bars"></button></i></div>
    <!-- controle -->
    <div class="col-8 text-left">
      <h3>OBJETIVO</h3>
      <p>Atender os clientes com excelência.</p>
    </div>
    <!-- controle -->
    <div class="col-2">
      <div>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-2 text-right"><button class="botao-redondo"><i class="fas fa-graduation-cap"></button></i></div>
    <!-- controle -->
    <div class="col-8 text-left">
      <h3>EDUCAÇÃO</h3>
      <p>Formado em Harvard, possui PhD, e Gadônico Gadônius.</p>
    </div>
    <!-- controle -->
    <div class="col-2">
      <div>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-2 text-right"><button class="botao-redondo"><i class="fas fa-briefcase"></button></i></div>
    <!-- controle -->
    <div class="col-8 text-left">
      <h3>EXPERIÊNCIA</h3>
      <p>Já webnamorou 2 vezes, se humilha pra atrair atenção de mulher na internet.</p>
    </div>
    <!-- controle -->
    <div class="col-2">
      <div>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-2 text-right"> <button class="botao-redondo"><i class="fas fa-tools"></i></button></div>
    <!-- controle -->
    <div class="col-8 text-left">
      <h3>HABILIDADES</h3>
      <p>
        Usar foto de anime no perfil; <br>
        Alterar o sobrenome no facebook; <br>
        Mugir; <br>

      </p>
    </div>
    <!-- controle -->
    <div class="col-2">
      <div>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-2 text-right"> <button class="botao-redondo"><i class="fas fa-ellipsis-h"></i></button> </div>
    <!-- controle -->
    <div class="col-8 text-left">
      <h3>ATIVIDADES</h3>
      <p>Palestrante voluntário para outros que desejam ingressar no setor bovino.</p>
    </div>
    <!-- controle -->
    <div class="col-2">
      <div>

      </div>
    </div>
  </div>







  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- NAO MEXER PRA BAIXO-->



  </body>

</html>