{% extends 'clientes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}

<div class="container">

  <div class="p-1">


    <div class="row">
      <div class="col-lg">

        <h3> {{ titulo }}</h3>

        <form method="post">
          <!-- Todo formulario tem que ter essa validaçãol -->
          {% csrf_token %}

          <!-- Gera o formulário -->
          {{ form|crispy }}

          <!-- Cria um botão para submeter o form, e outro para voltar -->
          <button type="submit" class="btn btn-primary">
            Salvar
          </button>

          <a href="{% url 'inicio' %}" class="btn btn-scondary">
            Voltar
          </a>
        </form>

      </div>
    </div>

  </div>
</div>


{% endblock %}
{% block script %}
<!-- Import JQuery Mask -->
<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.mask.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.slim.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/jquery/mascara.js' %}"></script>

{% endblock %}