{% extends 'clientes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}


<form method="post">
    {% csrf_token %}
    <p>Tem certeza que deseja excluir "{{ object }}?</p>
    <input type="submit" class="btn btn-danger" value="Sim, excluir.">
</form>

{% endblock %}