{% extends 'clientes/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm pt-5">

      <br><br>


      <img class="img-fluid" src="{% static 'img/DiagramaClasse.png' %}" alt="">



    </div>
  </div>
</div>
{% endblock %}