{% extends 'clientes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Senha alterada com sucesso!</h4>
    <a type="button" href="{% url 'inicio' %}" class="btn btn-success">Voltar ao Início</a>
</div>
{% endblock %}