{% extends 'clientes/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container py-5">



    {% if request.user.is_authenticated %}

    <h4 class="mt-4 text-danger">Você não pode fazer isso!</h4>

    Você será redirecionado para a página de inicio automaticamente.
    <meta http-equiv="Refresh" content="5; url={% url 'inicio' %}" />

    <div class="row mt-5">
        <div class="col-lg">
            <h3>{{ titulo }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            {% else %}
            <form method="post">
                <!-- Todo formulário tem que ter essa validação -->
                {% csrf_token %}
                <!-- Gera o formulário -->
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">
                    Entrar
                </button>
            </form>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}